@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme inline {
  /* Custom Colors  */
  --color-custom-primary: #004542;
}

* {
  font-family: Outfit;
}

.active hr {
  display: block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@media (max-width: 740px) {
  .active li {
    @apply text-white bg-[#5f6FFF];
  }
}
